<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Balises OpenGraph dynamiques -->
  <meta property="og:title" content="{{ page_title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ og_url }}" />
  <meta property="og:image" content="{{ og_image }}" />
  <meta property="og:description" content="{{ og_description }}" />
  <meta property="fb:app_id" content="{{ config['FB_APP_ID'] }}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
    <title>Open Facebook App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('index') }}">Open Facebook App</a>
        </div>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="text-center">
        <p>&copy; lerusse</p>
    </footer>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '{{ config["FB_APP_ID"] }}',
          cookie     : true,
          xfbml      : true,
          version    : 'v2.8'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.9&appId={{ config['FB_APP_ID'] }}";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>